.ug-gallery-wrapper .ug-slider-wrapper {
    background-color: rgb(255, 255, 255);  /*Key*/
    overflow: hidden;
    position: absolute;
    z-index: 1;
}
.ug-gallery-wrapper .ug-strip-panel {
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 2;
}
#o_shop_collapse_category li a {
  display: inline-block;
  width: 80%;
  padding-left: 3px; }
#o_shop_collapse_category li i.fa {
  cursor: pointer; }
  /*--- V10 patch --*/
  .o_my_status_table .btn-primary{color:#fff !important;}
  .o_my_status_table .btn-primary:hover{color:#333!important;}
  .o_my_sidebar .btn-default:hover{color:#fff !important;}
  
#myBtn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #62d2ea;
  width:60px;
  text-align: center;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#myBtn:hover {
  background-color: #555;
}

.fa-chevron-up{
    font-size: 22px;
}

